[submodule "Calibration/lib/OPENSMART_TFT"]
	path = Calibration/lib/OPENSMART_TFT
	url = https://github.com/fdufnews/OPENSMART_TFT.git
[submodule "SimpleDrawing/lib/OPENSMART_TFT"]
	path = SimpleDrawing/lib/OPENSMART_TFT
	url = https://github.com/fdufnews/OPENSMART_TFT.git
